:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.resource-form {
  margin-top: 100px;
}

.active-resource {
  background-color: #3140aa;
  padding: 50px;
  color: white;
  text-align: center;
}

.active-resource .resource-name {
  font-size: 30px;
  height: 50px;
}

.active-resource .elapsed-time {
  font-size: 64px;
  font-weight: bold;
}

.active-resource.time-wrapper {
  height: 100px;
}

.tag.resource-complete {
  background-color: #0fd60f;
}

.tag.resource-active {
  background-color: orange;
}

.tag.resource-inactive {
  background-color: #2d8bff;
}
